<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="WSHttpBinding_IAlarmService">
                <security mode="None" />
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/AlarmService/AlarmService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAlarmService" contract="AlarmServiceReference.IAlarmService" name="WSHttpBinding_IAlarmService">
                
            </endpoint>
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="ServiceEndpoint1" value="http://localhost:9000/AlarmService/AlarmService"/>
    <add key="ServiceEndpoint2" value="http://localhost:6000/AlarmService/AlarmService"/>
    <add key="ServiceEndpoint3" value="http://192.168.70.92:7000/AlarmService/AlarmService"/>
  </appSettings>

</configuration>
