<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAlarmService"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/AlarmService/AlarmService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAlarmService" contract="AlarmServiceReference.IAlarmService" name="WSHttpBinding_IAlarmService">
                <identity>
                    <userPrincipalName value="SamG@Meyertech.local"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="ServiceEndpoint" value="http://localhost:9000/AlarmService/AlarmService"/>
  </appSettings>
</configuration>
